main .hero {
    text-align: center;
    padding-top: 2.0rem;
    margin-bottom: 2.0rem;
}

main .hero p {
    margin-bottom: 1.0rem;
}

main .hero form {
    display: inline-block;
}

main .hero form input {
    margin-bottom: 0;
}

main .hero form input[type="url"] {
    width: 300px;
}

main .link {
    width: 100%;
}

main .link {
    display: flex;
    align-items: center;
    margin-bottom: 1.0rem;
}

main .link .slug {
    display: inline-block;
    width: 5.0rem;
    margin-right: 2.0rem;
}

main .link .count {
    display: inline-block;
    width: 2.0rem;
    margin-right: 2.0rem;
}

main .link .url {
    display: inline-block;
    margin-right: 2.0rem;
    flex: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: 5.0rem;
}

main .link a {
    margin-bottom: 0;
    margin-right: 2.0rem;
}

main .link button {
    margin-bottom: 0;
    margin-right: 2.0rem;
}

main .link button.copied {
    border-color: #3c3;
    background-color: #3c3;
}

main .link form {
    margin-bottom: 0;
}

main .link form .delete {
    margin-right: 0;
    margin-bottom: 0;
    background-color: #e33;
    border-color: #e33;
}

main .link form .delete:hover {
    background-color: #d22;
    border-color: #d22;
}