h1     { margin-bottom: 2.0rem; font-weight: 500; }
h2     { margin-bottom: 2.0rem; font-weight: 500; }
h3     { margin-bottom: 2.0rem; font-weight: 500; }
h4     { margin-bottom: 2.0rem; font-weight: 500; }
h5     { margin-bottom: 2.0rem; font-weight: 500; }
h6     { margin-bottom: 2.0rem; font-weight: 500; }
p      { margin-bottom: 3.0rem; font-weight: normal; }
hr     { margin-bottom: 1.0rem; margin-top: 0; width: 100%; }

.flash.success { color: #3c3; }
.flash.failure { color: #e33; }

main .container {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}