<div class="index">
    <header>
        <div class="container">
            {{ template "partials/nav.html" . }}
        </div>
    </header>
    <main>
        <div class="container">
            <div class="hero">
                <p>Fast and simple link shortener with cool features!</p>
                <form>
                    <input type="url" placeholder="Paste your link here" />
                    <input type="submit" value="SHORTEN" />
                </form>
            </div>
            <hr />
            {{ range .Links }}
                <div class="link">
                        <a class="slug" href="/{{ .Slug }}">{{ .Slug }}</a>
                        <span class="url">{{ .Title }}</span>
                        <button class="button-primary">COPY</button>
                        <a class="button" href="/{{ .Slug }}/edit">EDIT</a>
                        <button class="button-primary delete">DELETE</button>
                </div>
                <hr />
            {{ end }}
        </div>
    </main>
</div>