<div class="index">
    <header>
        <div class="container">
            {{ template "partials/nav.html" . }}
        </div>
    </header>
    <main>
        <div class="container">
            <div class="hero">
                <p>Fast and simple link shortener with cool features!</p>
                <form>
                    <input type="url" placeholder="Paste your link here" />
                    <input type="submit" value="SHORTEN" />
                </form>
            </div>
            <hr />
            <div class="link">
                    <a class="slug" href="#">ajghak</a>
                    <span class="url">Refactor Procedure - Google Docs</span>
                    <button class="button-primary">COPY</button>
                    <button>EDIT</button>
                    <button class="button-primary delete">DELETE</button>
            </div>
            <hr />
            <div class="link">
                    <a class="slug" href="#">cccade</a>
                    <span class="url"></span>
                    <button class="button-primary">COPY</button>
                    <button>EDIT</button>
                    <button class="button-primary delete">DELETE</button>
            </div>
            <hr />
            <div class="link">
                    <a class="slug" href="#">gkejte</a>
                    <span class="url">Skeleton: Responsive CSS Boilerplate</span>
                    <button class="button-primary">COPY</button>
                    <button>EDIT</button>
                    <button class="button-primary delete">DELETE</button>
            </div>
            <hr />
        </div>
    </main>
</div>