<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="author" content="Ravern Koh" />
        <meta name="description" content="Fast and simple link shortener with cool features!" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Jabba</title>

        <link href="https://fonts.googleapis.com/css?family=Raleway:400" rel="stylesheet">
        <link href="/public/css/normalize.min.css" rel="stylesheet" />
        <link href="/public/css/skeleton.min.css" rel="stylesheet" />
        <link href="/public/css/index.css" rel="stylesheet" />

        <script src="/public/js/jquery.min.js"></script>
        <script src="/public/js/index.js"></script>
    </head>
    <body>
        {{ .Content }}
    </body>
</html>