<div class="register">
    <header>
        <div class="container">
            {{ template "partials/nav.html" . }}
        </div>
    </header>
    <main>
        <div class="container">
            <h3>Register</h3>
            {{ if not (eq .Flash "") }}
                <p class="flash">{{ .Flash }}</p>
            {{ end }}
            <form method="POST">
                <div class="input">
                    <input type="text" placeholder="Username" name="username" />
                </div>
                <div class="input">
                    <input type="email" placeholder="Email" name="email" />
                </div>
                <div class="input">
                    <input type="password" placeholder="Password" name="password" />
                </div>
                <div class="input">
                    <input type="password" placeholder="Confirm password" name="confirm_password" />
                </div>
                <div class="input">
                    <input type="submit" value="REGISTER" />
                </div>
            </form>
        </div>
    </main>
</div>