<header>
    <div class="container">
        {{ template "nav.html" . }}
    </div>
</header>
<main>
    <div class="container">
        <h3>Link</h3>
        {{ template "flash.html" . }}
        <form action="/links/{{ .Link.Slug }}" method="POST" class="link">
            <div class="input">
                <input type="text" placeholder="Slug" name="slug" value="{{ .Link.Slug }}" />
            </div>
            <div class="input">
                <input type="text" placeholder="Title" name="title" value="{{ .Link.Title }}" />
            </div>
            <div class="input">
                <input type="url" placeholder="URL" name="url" value="{{ .Link.URL }}" />
            </div>
            <div class="auths">
                <h5>Auths</h5>
                <div id="auth" hidden>
                    <div class="input method">
                        <select>
                            <option disabled selected value="">Method</option>
                            <!-- <option value="password">Password</option> -->
                            <option value="google">Google</option>
                            <option value="jabba">Jabba</option>
                        </select>
                        <input type="button" value="REMOVE" class="button-primary" />
                    </div>
                    <div class="input">
                        <textarea placeholder="Values"></textarea>
                    </div>
                </div>
                {{ range .Auths }}
                    <div class="auth" id="auth-{{ .ID }}">
                        <div class="input method">
                            <input type="hidden" name="auth[id]" value="{{ .ID }}" />
                            <select name="auth[method]">
                                <option disabled>Method</option>
                                <!-- <option 
                                    {{ if eq .Method 0 }}selected{{ end }}
                                    value="password"
                                >Password</option> -->
                                <option 
                                    {{ if eq .Method 1 }}selected{{ end }}
                                    value="google"
                                >Google</option>
                                <option 
                                    {{ if eq .Method 2 }}selected{{ end }}
                                    value="jabba"
                                >Jabba</option>
                            </select>
                            <input
                                type="button"
                                value="REMOVE"
                                class="button-primary"
                                onclick="$('#auth-{{ .ID }}').remove()"
                            />
                        </div>
                        <div class="input">
                            <textarea name="auth[values]" placeholder="Values">{{ join .Values ", " }}</textarea>
                        </div>
                    </div>
                {{ end }}
            </div>
            <button type="button" class="button-primary" onclick="addAuth()">ADD AUTH</button>
            <div class="input">
                <input type="button" onclick="enableAndSubmit()" value="UPDATE" />
            </div>
        </form>
    </div>
</main>